  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

  * {
      margin: 0%;
      padding: 0%;
  }

  /* Le asigno las areas a mis secciones */
  body {
    height: 100vh;
    display: grid;
      grid-template-areas:
          "aside"
          "yo"
          "galeria"
          "contacto";
      grid-template-rows:1fr 4fr auto 3fr;
  }


  /* separo el emoji con el logo */
  aside {
      grid-area: "aside";
      background-color: #2854D8;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }

  /* le coloco animaciones a mi logo */
  .aside__logo img {
      animation-name: cambiartamaño;
      animation-duration: 3s;
      animation-iteration-count: infinite;
  }

  /* carac de mi animacion */
  @keyframes cambiartamaño {
      15% {
          transform: rotate(100deg);
      }

      65%{
        transform: scale(0.8);
      }
  }

  /* pongo mi titulo con mi logo uno al lado del otro */
  .aside__logo {
      display: flex;
      margin: 15px;
  }

  /* centro mi texto */
  .aside__texto {
      margin: auto;
      font-size: 18px;
      color: white;
      margin-left: 15px;
  }

  /* le doy estilos a mi menu */
  menu {
      background-color: #2854D8;
      padding: 15px;
      color: white;
  }

  /* cambio la posicion de mis ul */
  menu ul {
      font-family: 'Roboto', sans-serif;
      list-style-type: none;
      /* le di margin top a mis ul */
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-around;
  }

  /* le quito lo subrayado a mis links*/
  menu a{
    color: white;
    text-decoration: none;
  }

  menu a:hover{
    color: cornflowerblue;
  }
  /* centro mi logo de mi aside */
  .fa-bars {
      padding: 30px;
      color: white;
  }


  /* display flex al contendor que tiene mi imagen para centrarla */
  .yo-imagen {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
  }

  /* le defino un tamaño a mi imagen */
  .yo-imagen img {
      width: 220px;
      height: 200px;
  }

  /* aqui aplico estilos a toda la seccion
sobre mi */
  .sobre-mi {
      grid-area: "yo";
      background-color: #f3f3f7;
      padding: 30px;
  }

  /* contenedor que tiene a mis subcajas */
  .container {
    /* MARGIN */
      margin-top: 40px;
  }

  /* contenedor de mi texto */
  .sobre-mi__texto {
      text-align: center;
  }

  /* defino carac de mi texto */
  .sobre-mi__texto p {
      margin-top: 20px;
      font-size: 17px;
      text-align: justify;
      text-justify: inter-word;
      font-family: 'Roboto', sans-serif;
  }

  /* GALERIA */
  .galeria{
      grid-area: "galeria";
  }

  /* Le coloco estilos a mi texto galeria */
  .galeria__texto {
    /* MARGIN */
      margin-top: 90px;
      font-size: 22px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: rgb(83, 78, 78);

      /* animacion */
      animation-name: cambiarcolor;
      animation-duration: 5s;
      animation-iteration-count: infinite;
  }

  @keyframes cambiarcolor {
      0% {
          transform: scale(0.3);
          color: rgb(44, 137, 137);
      }

      100% {
          transform: scale(1);
          color: rgb(36, 52, 83);
      }
  }

  /* centro mis cartas */
  .galeria__cartas {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
  }

  /*mis cartas*/
  .carta {
      padding: 15px;
      width: 80%;
      background-color: aliceblue;
      height: 290px;
      box-shadow: 3px 3px rgba(115, 111, 111, 0.3);
      animation-name: moverse;
      animation-duration: 2s;
      animation-iteration-count:2;
  }

  @keyframes moverse{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1deg);
    }
  }

  /* la imagen de mi carta */
  .carta img {
      width: 100%;
      filter: grayscale(80%);
  }

  /* cuando coloco el cursor sobre mi imagen */
  .carta img:hover{
      scale: 1.1;
      filter: grayscale(0%);
      border-radius: 10%;
  }

  /* el texto de mi carta */
  .texto {
      text-align: center;
      margin-top: 10px;
  }

  /* mi seccion del contacto */

  .contacto {
      grid-area: "contacto";
      padding: 30px;
      background-color: #f3f3f7;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
  }

  /* modifico los h3 de mi footer */
  .contacto h3 {
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 10px;
  }

  /* alineo mis logos de forma ordenada */
  .contacto__logos {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }

  .contacto__amigos{
    /* MARGEN a PARTNERS */
    margin-top: 35px;
  }
  /* les defino un tamaño a mis imagenes*/
  .contacto__logos img {
      width: 18%;
  }

  /* le doy estilo a mis elementos a de mi footer */
  .contacto a {
      color: black;
      display: flex;
      justify-content: center;
      margin-top: 6px;
      text-decoration: none;
  }

  .contacto a:hover {
      color: rgb(0, 195, 255);
      text-decoration: underline;
  }

  .contacto__inspiracion{
    margin-top: 35px;
  }
  .contacto__texto{
    font-size: 13px;
    background-color: #f3f3f7;
    color: grey;
    margin-left: 5px;
    text-align: center;
    margin-bottom: 10px;
  }

  @media (min-width:768px) and (max-width:992px){
   .galeria{
    margin-left: 60px;
   }

   .sobre-mi__texto{
    font-size: 20px;
   }

   .sobre-mi p{
    font-size: 24px;
   }

   .galeria__cartas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
   }
  }

  @media (min-width:993px){
   .galeria__cartas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   }

   .contacto__logos img {
    width: 10%;
}
  }
